.solutionMainDiv {
  padding-top: 64px;

  .container {
    // height: 100vh;
    width: 100%;
    padding-bottom: 180px;
    position: relative;
    background: url('../../../public/images/top-bg.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    .header {
      padding-top: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;

      h1 {
        text-align: center;
        margin-bottom: 7px;
        font-size: 32px;
      }
    }

    .sticky {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      width: 100vw;
      // height: 100%;
      margin-top: 2rem;
      overflow-y: scroll;
      padding-bottom: 5px;

      .card {
        min-width: 270px;
        background: white;
        border-radius: 8px;
        height: fit-content;
        padding: 30px 40px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 200px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 20px;

        .text {
          color: #000;
          font-size: 22px;
          display: inline-flex;
          align-items: center;
          font-family: 'Montserrat';
        }

        .text1 {
          background: linear-gradient(98.73deg, #F5841F 5.67%, #F1C961 25.66%, #00B3A6 55%, #5B5FD1 88.51%) !important;
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
          background-clip: text !important;
          text-fill-color: transparent !important;
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 15px;
          font-family: 'Montserrat';
        }
      }

      .buttonBottom {
        position: absolute;
        bottom: 60px;
        border-radius: 100px;
        height: 40px;
        min-width: 150px;
        font-weight: bold;
        font-size: 18px;
      }
    }

  }

}